@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;

0,400;0,500;0,600;0,700;0,900;1,500&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-user:before {
  content: "\e900";
}

._icon-specialization:before {
  content: "\e901";
}

._icon-work-styles:before {
  content: "\e902";
}

._icon-person-04:before {
  content: "\e903";
}

._icon-price:before {
  content: "\e904";
}

._icon-notifications:before {
  content: "\e905";
}

._icon-change-password:before {
  content: "\e906";
}

._icon-eser-small:before {
  content: "\e907";
}

._icon-calendar:before {
  content: "\e908";
}

._icon-country:before {
  content: "\e909";
}

._icon-phone:before {
  content: "\e90a";
}

._icon-city:before {
  content: "\e90b";
}

._icon-picture:before {
  content: "\e90c";
}

._icon-arrow-up:before {
  content: "\e90d";
}

._icon-email1:before {
  content: "\e90f";
}

._icon-select:before {
  content: "\e910";
}

._icon-question:before {
  content: "\e911";
}

._icon-plus:before {
  content: "\e912";
}

._icon-eye-regular:before {
  content: "\e913";
}

._icon-eye-slash-regular:before {
  content: "\e914";
}

._icon-eye:before {
  content: "\e915";
}

._icon-eye-slash:before {
  content: "\e916";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #00020f;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

._loading-icon {
  background: url("../img/loading.gif") center/50px no-repeat;
  height: 50px;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 109.6875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-setting {
  font-weight: 700;
  line-height: 1.225;
  color: #545454;
  text-align: center;
}

.text-setting {
  line-height: 1.3333333333;
  color: #545454;
  text-align: center;
}

.text-setting span {
  color: #c72a2a;
  text-align: justify;
}

.no-webp .body-tabs{
  background: url("../img/reperat.jpg"); }

.body-tabs {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 83.3125rem;
          flex: 0 1 83.3125rem;
  width: 100%;
  max-width: 83.3125rem;
  border-radius: 1.5625rem;
  -webkit-filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
}

form * {
  outline: none;
}

.icon {
  font-family: "icons";
  padding: 10px;
  background: #fff;
  color: #bbb7b7;
  text-align: center;
  font-size: 1.375rem;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
  right: 0rem;
  top: 0.2rem;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40.6%;
          flex: 1 1 40.6%;
  height: 3.125rem;
  border-radius: 0.125rem;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item_big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item_average {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.75rem;
          flex: 0 0 28.75rem;
}

.item::after {
  position: absolute;
  content: "";
  bottom: 0rem;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background: #545454;
  border-radius: 2px;
}

.input {
  min-height: 3.125rem;
  padding: 0.875rem 1.25rem 0.875rem 1.25rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: #00020f;
  -webkit-box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.25);
  border-radius: 0.125rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.input:hover {
  border: 2px solid #c72a2a;
}

.input:focus {
  color: #00020f;
  -webkit-box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(199, 42, 42, 0.6);
          box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(199, 42, 42, 0.6);
}

.textarea {
  position: relative;
  width: 100%;
  resize: vertical;
  padding: 0.9375rem 1.25rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #00020f;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  height: 7.5rem;
}

.textarea:hover {
  border: 1px solid #c72a2a;
}

.textarea.aicon {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.aicon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  right: 0.5rem;
  color: #bdbdbd;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.aicon:hover {
  color: #212529;
}

.aicon_big {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 1.5rem;
  top: 1rem;
  right: 1rem;
}

.aicon_for {
  right: 1.25rem;
}

.button {
  max-width: 28.75rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.125rem;
  color: #00020f;
  background-color: #ffffff;
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 0.125rem;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
  padding: 0.9375rem;
}

.button_big {
  max-width: 60.625rem;
  width: 100%;
}

.button:active {
  top: 0.1875rem;
  background-color: #c72a2a;
  -webkit-box-shadow: 0 0.3125rem 0 #c72a2a;
          box-shadow: 0 0.3125rem 0 #c72a2a;
}

.button_color {
  color: #ffffff;
  background-color: #c72a2a;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background-color: rgba(199, 42, 42, 0.8980392157);
  color: #ffffff;
}

.button2 {
  margin-top: 1.25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: #fff;
  color: #00020f;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 0.125rem 0 #c72a2a;
          box-shadow: 0 0.125rem 0 #c72a2a;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.button2:hover {
  background-color: rgba(199, 42, 42, 0.5921568627);
  color: #ffffff;
}

.button2:active {
  top: 0.1875rem;
  background-color: #c72a2a;
  -webkit-box-shadow: 0 0.3125rem 0 #c72a2a;
          box-shadow: 0 0.3125rem 0 #c72a2a;
}

.button3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.125rem;
  background-color: #d4e5fa;
  color: #00020f;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 0.125rem;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
  padding: 0.9375rem;
}

.button3:hover {
  background-color: rgba(199, 42, 42, 0.5921568627);
  color: #ffffff;
}

.button3:active {
  top: 0.1875rem;
  background-color: #c72a2a;
}

.checkbox {
  position: relative;
  width: 100%;
  margin-bottom: 1.25rem;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #c72a2a;
          box-shadow: 0 0 5px #c72a2a;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #c72a2a;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
  background: #bbb7b7;
}

.checkbox__text {
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #545454;
}

.checkbox__text span span {
  color: #c72a2a;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value::before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/select.svg") center/100% no-repeat;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 49px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 16px;
  padding: 0px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active.select__options {
  display: block;
}

.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header__button {
  position: relative;
  z-index: 5;
  border: 0.0625rem solid #c72a2a;
  background-color: #c72a2a;
  border-radius: 1.5625rem;
  padding: 0.6875rem 2.0625rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user {
  margin-right: 1.25rem;
}

.user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-header__notifications {
  width: 2.875rem;
  height: 2.75rem;
  margin-right: 0.75rem;
  z-index: 5;
}

.user-header__settings {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 1.25rem;
  z-index: 5;
}

.user-header__avatar-ibg {
  border-radius: 50%;
  overflow: hidden;
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.625rem;
}

.user-header__name {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #fff;
  z-index: 5;
}

.user-header__nickname {
  font-size: 0.9375rem;
  line-height: 1.25;
  color: #9f9f9f;
}

.menu__item {
  text-align: right;
}

.menu__link {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #fff;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.icon-menu {
  display: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		&.menu-open {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  min-height: 5rem;
  border: 1px solid #000000;
  background-color: #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer__container {
  padding: 1.8125rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  gap: 1.25rem;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text {
  margin-right: 0.3125rem;
}

.footer__btn {
  cursor: pointer;
}

.footer__btn img {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer__btn :hover {
  background-color: #c72a2a;
}

.no-webp .page{
  background: url("../img/reperat.jpg"); }

.setting__container {
  padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
}

.setting__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.875rem;
     -moz-column-gap: 2.875rem;
          column-gap: 2.875rem;
}

.no-webp .setting__box-navigation{
  background: url("../img/reperat.jpg"); }

.setting__box-navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.42%;
          flex: 0 1 31.42%;
  border-radius: 1.5625rem;
  -webkit-filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
  padding: 1.25rem 0.875rem 1.25rem 1.625rem;
}

.setting__box-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65.68%;
          flex: 0 1 65.68%;
  padding: 0rem 0rem 1.25rem 0rem;
}

.setting__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

.tabs-box__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1875rem 0rem;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.tabs-box__title:hover {
  border-radius: 0.5rem;
  background: rgba(230, 49, 49, 0.05);
}

.tabs-box__title._tab-active {
  background: rgba(199, 42, 42, 0.1);
  border-radius: 0.5rem;
}

.tabs-box__title:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.tabs-box__title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -0.3125rem;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

.tabs-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.0625rem;
          flex: 0 0 3.0625rem;
  height: 3.0625rem;
  background-color: #c72a2a;
  border-radius: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-left: 0.625rem;
}

.tabs-box__text {
  text-align: start;
  line-height: 1.2083333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
}

.content-tabs {
  max-width: 70.875rem;
  width: 100%;
}

.box-person__text {
  width: 100%;
}

.box-person__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__label {
  display: none;
}

.form__icon {
  position: relative;
}

.form__aicon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  top: 0;
  bottom: 0;
  right: 0.1rem;
  color: #bdbdbd;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.form__aicon:hover {
  color: #212529;
}

.form__footer:not(:last-child) {
  margin-bottom: 1.25rem;
}

.options {
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__item {
  min-height: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.options__text {
  font-size: 1rem;
  line-height: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00020f;
}

.options__label {
  display: none;
}

.options__button3 {
  position: absolute;
  width: 11.25rem;
  top: 0;
  left: 0;
  border-radius: 0.625rem;
}

.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: #ddef7b;
}

.file__item {
  position: relative;
  height: 50px;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0px 0px 0px;
}

.file__preview img {
  max-width: 100%;
}

.box-special__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.box-navigation__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  min-height: 3.125rem;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  max-width: 13.6875rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.box-navigation__title:hover {
  color: #fff;
  background: rgba(230, 49, 49, 0.815);
}

.box-navigation__title._tab-active {
  color: #fff;
  background-color: #c72a2a;
}

.box-navigation__title_for {
  max-width: 17.75rem;
  height: 3.125rem;
  border-radius: 0.125rem;
  padding-right: 2.1875rem;
  position: relative;
}

.box-navigation__title_for:not(:last-child) {
  margin-bottom: 1.25rem;
}

.box-navigation__title_for::after {
  position: absolute;
  content: "";
  bottom: 0rem;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background: #545454;
  border-radius: 2px;
}

.box-navigation__aicon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  bottom: 0;
  right: 0.1rem;
  width: 2.75rem;
}

.form__item {
  position: relative;
}

.form__item::after {
  position: absolute;
  content: "";
  bottom: 0rem;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background: #545454;
  border-radius: 2px;
}

.form__aicon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  bottom: 0;
  right: 0.1rem;
  width: 2.75rem;
}

.form__icon {
  background: none;
}

.box-styles__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.box-styles__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-styles__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.75rem;
          flex: 0 1 28.75rem;
}

.box-styles__button:not(:last-child) {
  margin-bottom: 0.625rem;
}

.box-gallery:not(:last-child) {
  margin-bottom: 1.25rem;
}

.box-gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.6875rem;
     -moz-column-gap: 0.6875rem;
          column-gap: 0.6875rem;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-gallery__style {
  margin: 0 auto;
}

.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7.125rem;
          flex: 0 0 7.125rem;
  height: 7.125rem;
  width: 7.125rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item__image img {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__image img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.item__name {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #545454;
  margin-top: 0.375rem;
  text-align: center;
}

.box-price__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.box-price__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-price__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.75rem;
          flex: 0 1 28.75rem;
}

.box-price__button:not(:last-child) {
  margin-bottom: 0.625rem;
}

.box-services__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.box-services__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-services__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.75rem;
          flex: 0 1 28.75rem;
}

.box-services__button:not(:last-child) {
  margin-bottom: 0.625rem;
}

.box-notifications__content:not(:last-child) {
  margin-bottom: 1.25rem;
}

.box-notifications__content p {
  line-height: 1.3333333333;
  color: #545454;
  text-align: left;
}

.box-notifications__content p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.password__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1.5625rem;
  margin: 0 auto;
}

.password__title:not(:last-child) {
  margin-bottom: 1.875rem;
}

.form__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.6%;
          flex: 0 1 40.6%;
  max-width: 28.75rem;
  width: 100%;
  margin: 0 auto;
}

.form__aicon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  bottom: 0;
  right: 0.1rem;
  width: 2.75rem;
}

.form__error {
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: #fbffe3;
  border: 1px solid #303233;
  border-radius: 5px;
  top: 3.4375rem;
  left: 1.5625rem;
  padding: 0.625rem 1.25rem;
  color: #c72a2a;
}

.form__error .item {
  margin-bottom: 2.5rem;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.875rem;
}

.form__button:not(:last-child) {
  margin-bottom: 0.625rem;
}

.form__line {
  position: relative;
  padding: 0.9375rem;
  width: 15.625rem;
  font-size: 1.125rem;
  background: #ceeefa;
}

.form__viewpass {
  position: relative;
  top: 15px;
  right: 0;
  display: inline-block;
  width: 100px;
  height: 20px;
}

.form__viewpass::after {
  top: 0;
  right: 0;
  background: url("../img/settings-icons/eye.svg") 0 0 no-repeat;
}

.form__viewpass ._viewpass-active {
  background: url("../img/settings-icons/eye-slash.svg") 0 0 no-repeat;
}

.no-webp .support{
  background: url("../img/reperat.jpg"); }

.support__container {
  padding: 0 0.9375rem;
}

.no-webp .support__body{
  background: url("../img/reperat.jpg"); }

.support__body {
  max-width: 71.25rem;
  margin: 0 auto;
  border-radius: 1.5625rem;
  -webkit-filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
}

.support__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1.5625rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.question__header {
  max-width: 28.75rem;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question__header:not(:last-child) {
  margin-bottom: 1.875rem;
}

.form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.25rem;
}

.form__item {
  position: relative;
}

.form__item::after {
  position: absolute;
  content: "";
  bottom: 0rem;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background: #545454;
  border-radius: 2px;
}

.form__button {
  margin-top: 1.25rem;
}

@media (min-width: 70rem) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.9375rem;
  }
}

@media (min-width: 109.6875em) {
  .title-setting {
    font-size: 2.5rem;
  }

  .text-setting {
    font-size: 1.125rem;
  }

  .text-setting:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .body-tabs {
    padding-left: 6.25rem;
  }

  .body-tabs {
    padding-right: 6.25rem;
  }

  .body-tabs {
    padding-top: 6.25rem;
  }

  .body-tabs {
    padding-bottom: 3.75rem;
  }

  .button {
    font-size: 1rem;
  }

  .header__logo img {
    width: 20.625rem;
  }

  .footer__copyright {
    font-size: 1.125rem;
  }

  .setting__container {
    padding-bottom: 1.875rem;
  }

  .tabs-box__text {
    font-size: 1.5rem;
  }

  .box-person__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .form__info {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .box-special__title:not(:last-child) {
    margin-bottom: 6.875rem;
  }

  .box-navigation__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .box-styles__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .box-styles__buttons {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .box-price__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .box-price__buttons {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .box-services__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .box-services__buttons {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .box-notifications__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .box-notifications__content p {
    font-size: 1.125rem;
  }

  .form__buttons {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .support__container {
    padding-top: 10rem;
  }

  .support__container {
    padding-bottom: 5.875rem;
  }

  .support__body {
    padding-left: 6.25rem;
  }

  .support__body {
    padding-right: 6.25rem;
  }

  .support__body {
    padding-top: 6.25rem;
  }

  .support__body {
    padding-bottom: 13.875rem;
  }

  .form__info {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (max-width: 20em) {
  .title-setting {
    font-size: 1.75rem;
  }

  .text-setting {
    font-size: 0.875rem;
  }

  .text-setting:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .body-tabs {
    padding-left: 0.9375rem;
  }

  .body-tabs {
    padding-right: 0.9375rem;
  }

  .body-tabs {
    padding-top: 1.875rem;
  }

  .body-tabs {
    padding-bottom: 1.25rem;
  }

  .button {
    font-size: 0.875rem;
  }

  .header__logo img {
    width: 16.875rem;
  }

  .footer__copyright {
    font-size: 0.8125rem;
  }

  .setting__container {
    padding-bottom: 0.9375rem;
  }

  .tabs-box__text {
    font-size: 1rem;
  }

  .box-person__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .form__info {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .box-special__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .box-navigation__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .box-styles__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .box-styles__buttons {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .box-price__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .box-price__buttons {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .box-services__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .box-services__buttons {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .box-notifications__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .box-notifications__content p {
    font-size: 0.875rem;
  }

  .form__buttons {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .support__container {
    padding-top: 13.75rem;
  }

  .support__container {
    padding-bottom: 1.25rem;
  }

  .support__body {
    padding-left: 0.9375rem;
  }

  .support__body {
    padding-right: 0.9375rem;
  }

  .support__body {
    padding-top: 1.875rem;
  }

  .support__body {
    padding-bottom: 1.25rem;
  }

  .form__info {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 75rem) {
  .aicon_for {
    right: 0.7rem;
  }
}

@media (max-width: 70rem) {
  .header__button {
    padding: 0.6875rem 1.25rem;
    font-size: 0.875rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    background-color: #c72a2a;
    padding: 5rem 0.9375rem 1.875rem 0.9375rem;
    margin-top: 3.125rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    width: 100%;
    height: 5rem;
    background-color: #000;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    left: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu__link {
    color: #fff;
    font-size: 2rem;
  }

  .menu__link:hover {
    color: #fff;
    text-decoration: underline;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 70rem) and (max-width: 47.99875em) {
  .menu__body::before {
    height: 10.625rem;
  }

  .menu__body {
    margin-top: 8.125rem;
  }
}

@media (max-width: 70rem) and (max-width: 29.99875em) {
  .menu__body::before {
    height: 13.125rem;
  }

  .menu__body {
    margin-top: 11.25rem;
  }
}

@media (max-width: 70rem) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 62.5rem) {
  .aicon_for {
    right: 0.5rem;
  }
}

@media (max-width: 61.99875em) {
  .body-tabs {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }

  .aicon_for {
    right: 1.25rem;
  }

  .setting__container {
    padding-top: 6.875rem;
  }

  .setting__tabs {
    display: block;
  }

  .setting__box-navigation {
    margin-bottom: 1.5625rem;
    display: none;
  }

  .tabs-box__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .tabs-box__icon {
    margin-left: 1.25rem;
  }

  .box-special__title {
    margin-top: 1.875rem;
  }

  .box-special__title:not(:last-child) {
    margin-bottom: 0rem;
  }

  .box-navigation__title {
    margin-top: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0.9375rem;
  }

  .header__logo {
    margin-bottom: 0.625rem;
  }

  .header__button {
    margin-right: 2.5rem;
  }

  .header__user {
    margin: 0;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .icon-menu {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0.9375rem;
  }

  .setting__container {
    padding-top: 11.875rem;
  }

  .form__info {
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .box-styles__buttons {
    display: block;
  }

  .box-price__buttons {
    display: block;
  }

  .box-services__buttons {
    display: inline-block;
  }

  .form__buttons {
    display: block;
    max-width: 28.75rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.875rem;
  }

  .form__info {
    display: block;
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    padding-top: 2.5rem;
  }

  .setting__container {
    padding-top: 13.75rem;
  }
}

@media (min-width: 20em) and (max-width: 109.6875em) {
@supports (font-size: clamp( 1.75rem , 1.5827526132rem  +  0.8362369338vw , 2.5rem )) {
    .title-setting {
      font-size: clamp( 1.75rem , 1.5827526132rem  +  0.8362369338vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5827526132rem  +  0.8362369338vw , 2.5rem )) {
    .title-setting {
      font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 89.6875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8192508711rem  +  0.2787456446vw , 1.125rem )) {
    .text-setting {
      font-size: clamp( 0.875rem , 0.8192508711rem  +  0.2787456446vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8192508711rem  +  0.2787456446vw , 1.125rem )) {
    .text-setting {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 89.6875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .text-setting:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .text-setting:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-left: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem )) {
    .body-tabs {
      padding-left: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem )) {
    .body-tabs {
      padding-left: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem )) {
    .body-tabs {
      padding-right: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem )) {
    .body-tabs {
      padding-right: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8993902439rem  +  4.8780487805vw , 6.25rem )) {
    .body-tabs {
      padding-top: clamp( 1.875rem , 0.8993902439rem  +  4.8780487805vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8993902439rem  +  4.8780487805vw , 6.25rem )) {
    .body-tabs {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6925087108rem  +  2.787456446vw , 3.75rem )) {
    .body-tabs {
      padding-bottom: clamp( 1.25rem , 0.6925087108rem  +  2.787456446vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6925087108rem  +  2.787456446vw , 3.75rem )) {
    .body-tabs {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 89.6875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8471254355rem  +  0.1393728223vw , 1rem )) {
    .button {
      font-size: clamp( 0.875rem , 0.8471254355rem  +  0.1393728223vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8471254355rem  +  0.1393728223vw , 1rem )) {
    .button {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 89.6875);
    }
}

@supports (width: clamp( 16.875rem , 16.0387630662rem  +  4.181184669vw , 20.625rem )) {
    .header__logo img {
      width: clamp( 16.875rem , 16.0387630662rem  +  4.181184669vw , 20.625rem );
    }
}

@supports not (width: clamp( 16.875rem , 16.0387630662rem  +  4.181184669vw , 20.625rem )) {
    .header__logo img {
      width: calc(16.875rem + 3.75 * (100vw - 20rem) / 89.6875);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7428135889rem  +  0.3484320557vw , 1.125rem )) {
    .footer__copyright {
      font-size: clamp( 0.8125rem , 0.7428135889rem  +  0.3484320557vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7428135889rem  +  0.3484320557vw , 1.125rem )) {
    .footer__copyright {
      font-size: calc(0.8125rem + 0.3125 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7284407666rem  +  1.0452961672vw , 1.875rem )) {
    .setting__container {
      padding-bottom: clamp( 0.9375rem , 0.7284407666rem  +  1.0452961672vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7284407666rem  +  1.0452961672vw , 1.875rem )) {
    .setting__container {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 89.6875);
    }
}

@supports (font-size: clamp( 1rem , 0.8885017422rem  +  0.5574912892vw , 1.5rem )) {
    .tabs-box__text {
      font-size: clamp( 1rem , 0.8885017422rem  +  0.5574912892vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8885017422rem  +  0.5574912892vw , 1.5rem )) {
    .tabs-box__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 89.6875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-person__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-person__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .form__info {
      -webkit-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .form__info {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.0043554007rem  +  6.2717770035vw , 6.875rem )) {
    .box-special__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.0043554007rem  +  6.2717770035vw , 6.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.0043554007rem  +  6.2717770035vw , 6.875rem )) {
    .box-special__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 5.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8678135889rem  +  0.3484320557vw , 1.25rem )) {
    .box-navigation__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.8678135889rem  +  0.3484320557vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8678135889rem  +  0.3484320557vw , 1.25rem )) {
    .box-navigation__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 89.6875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-styles__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-styles__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .box-styles__buttons {
      -webkit-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .box-styles__buttons {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-price__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-price__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .box-price__buttons {
      -webkit-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .box-price__buttons {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-services__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-services__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .box-services__buttons {
      -webkit-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .box-services__buttons {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-notifications__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4856271777rem  +  0.6968641115vw , 1.25rem )) {
    .box-notifications__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8192508711rem  +  0.2787456446vw , 1.125rem )) {
    .box-notifications__content p {
      font-size: clamp( 0.875rem , 0.8192508711rem  +  0.2787456446vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8192508711rem  +  0.2787456446vw , 1.125rem )) {
    .box-notifications__content p {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 89.6875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .form__buttons {
      -webkit-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .form__buttons {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-top: clamp( 10rem , 14.5862369338rem  +  -4.181184669vw , 13.75rem )) {
    .support__container {
      padding-top: clamp( 10rem , 14.5862369338rem  +  -4.181184669vw , 13.75rem );
    }
}

@supports not (padding-top: clamp( 10rem , 14.5862369338rem  +  -4.181184669vw , 13.75rem )) {
    .support__container {
      padding-top: calc(13.75rem + -3.75 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.218641115rem  +  5.1567944251vw , 5.875rem )) {
    .support__container {
      padding-bottom: clamp( 1.25rem , 0.218641115rem  +  5.1567944251vw , 5.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.218641115rem  +  5.1567944251vw , 5.875rem )) {
    .support__container {
      padding-bottom: calc(1.25rem + 4.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-left: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem )) {
    .support__body {
      padding-left: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem )) {
    .support__body {
      padding-left: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-right: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem )) {
    .support__body {
      padding-right: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -0.2471689895rem  +  5.9233449477vw , 6.25rem )) {
    .support__body {
      padding-right: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8993902439rem  +  4.8780487805vw , 6.25rem )) {
    .support__body {
      padding-top: clamp( 1.875rem , 0.8993902439rem  +  4.8780487805vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8993902439rem  +  4.8780487805vw , 6.25rem )) {
    .support__body {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 89.6875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -1.5653310105rem  +  14.0766550523vw , 13.875rem )) {
    .support__body {
      padding-bottom: clamp( 1.25rem , -1.5653310105rem  +  14.0766550523vw , 13.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.5653310105rem  +  14.0766550523vw , 13.875rem )) {
    .support__body {
      padding-bottom: calc(1.25rem + 12.625 * (100vw - 20rem) / 89.6875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .form__info {
      -webkit-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.8318815331rem  +  2.0905923345vw , 3.125rem ))) {
    .form__info {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 89.6875);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .header__button:hover {
    color: #000;
    background-color: #fff;
    border: 0.0625rem solid #fff;
  }

  .menu__link:hover {
    color: #c72a2a;
  }
}

.webp .body-tabs{ background: url(../img/reperat.webp); }

.webp .page{ background: url(../img/reperat.webp); }

.webp .setting__box-navigation{ background: url(../img/reperat.webp); }

.webp .support{ background: url(../img/reperat.webp); }

.webp .support__body{ background: url(../img/reperat.webp); }